header {
  grid-area: hd;
  color: #e7b3b3;
  background-color: #575151;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-family: "Dancing Script", cursive, Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin: 20px 80px;
}

header nav ul {
  list-style: none;
  margin-top: 38px;
}

header nav ul li {
  display: inline;
  font-size: 22px;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #e7b3b3;
}

header nav ul li a:hover {
  color: #feb062;
}

header .search {
  margin-right: 55px;
  margin-top: 35px;
}

header .search input {
  line-height: 22px;
  padding: 5px;
}

header .search button {
  padding: 5px;
  transition: all 200ms ease-in-out;
}

header .search button:hover {
  background-color: #e7b3b3;
  cursor: pointer;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  header h1 {
    margin: 15px auto;
  }
  header nav {
    margin-left: 70px;
  }
  header .search {
    display: block;
    margin: 15px auto;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  header .search button {
    display: none;
  }
}
